<%- include('partials/header') %>
    <h1>Fiaai Web App</h1>
    <hr>
    <form action="/submitName" method="POST">
        <label for="name">Enter your name:</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Submit">
    </form>
    
<%- include('partials/footer') %>
    
